body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #f0f0f0;
}

.cont-emvf {
  width: 450px;
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}


h2 {
  margin-bottom: 25px;
  text-align: left;
}

p {
  margin-bottom: 25px;
  text-align: left;
}


input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  margin-top: 30px;
  background-color: #FF654A;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #b34430;
}

@media only screen and (max-width: 480px) {
  .cont-emvf {
    width: 90%; /* Adjust width for smaller screens */
    padding: 20px; /* Adjust padding for smaller screens */
  }

  h2 {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  p {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  input[type="email"] {
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  button {
    padding: 8px 16px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}