body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #eeeeee;
}

.cont-pw {
  width: 450px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 25px;
  font-size: 30px;
}

p {
  margin-bottom: 25px; 
}

input[id="password1"] {
  width: 100%;
  padding: 17px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20px;
}

input[id="password2"] {
  width: 100%;
  padding: 17px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20px;
}

button {
  width: 100%;
  font-size: 20px;
  margin-top: 20px;
  background-color: black;
  color: #fff;
  padding: 20px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #ff7800;
}

@media only screen and (max-width: 480px) {
  .cont-pw {
    width: 90%;
    padding: 20px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  input[type="password1"], input[type="password2"]{
    font-size: 12px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }
}


/* Style for the eye icon */
.show-password {
  position: relative;
  cursor: pointer;
}

/* Hide the password field by default */
#password1,
#password2 {
  padding-right: 30px;
}

/* Style for the eye icon */
.show-password::after {
  content: '\1F441';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #666;
}

/* Style for the eye icon when password is visible */
.show-password.showing::after {
  content: '\1F576';
}